body {
    background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/4159652/3600/2400/m1/fpnw/wm1/booksside-.jpg?1521502900&s=f663adf5359a77ebda6f3ca978228733");
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(219, 218, 218);
    color: #000000
}
td, th {
    text-align: left;
    padding: 8px; 
}