body {
    background-image: url("https://img.freepik.com/free-photo/book-stack-library-room-blurred-bookshelf-background_42691-514.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(219, 218, 218);
    color: #000000
}
